/* my workspace css for stylus */

@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* common font-family */
body.aui-layout { font-family: 'Spoqa Han Sans Neo', -apple-system, "Segoe UI", "Ubuntu", "Droid Sans", sans-serif; }

/* common layout */
#LGE_header_container { display: none; }

/* jira layout */
#LGE_header_container { display: none; }
